*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;

  a {
    text-decoration: none;
    color: #111111;
    font-size: 2rem;
  }
}

.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1;

  .menu-btn-lines,
  .menu-btn-lines::before,
  .menu-btn-lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #111111;
    transition: all 200ms ease-in-out;
  }

  &.open .menu-btn-lines,
  &.open .menu-btn-lines::before,
  &.open .menu-btn-lines::after {
    background-color: #fff;
  }

  .menu-btn-lines::before,
  .menu-btn-lines::after {
    content: "";
    position: absolute;
  }

  .menu-btn-lines::before {
    transform: translateY(-0.5rem);
  }

  .menu-btn-lines::after {
    transform: translateY(0.5rem);
  }

  &.open .menu-btn-lines {
    transform: translateX(2rem);
    background-color: transparent;
  }

  &.open .menu-btn-lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  }

  &.open .menu-btn-lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  }
}

.menu-items {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;

  li a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: all 200ms ease-in-out;

    &:hover {
      background-color: rgb(221, 221, 221);
      border-radius: 2rem;
    }
  }
}

@media (max-width: 767px) {
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    transform: translateX(100vw);
    background-color: #212121;
    transition: all 200ms ease-in-out;
    li a {
      color: white;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      &:hover {
        background-color: #151515;
        border-radius: 3rem;
      }
    }
    &.open {
      transform: translateX(0);
    }
  }
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: #999999;
}
